:root {
  /* --spacing-clamp: clamp(0.875rem, 0.85rem + 0.5vw, 1rem); */
  --spacing-clamp: clamp(0.7rem, 0.75rem, 0.85rem);
}

body {
  /* font-family: "Sora", sans-serif; */
  font-family: "Degular", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: "Krona one", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  line-height: 1.1em;
  letter-spacing: normal;
}

h1, h2, h3, h4, h5, h6, p {
  color: rgb(var(--secondary-color));
}

h1 {
  font-size: 80px;
  letter-spacing: 0.03em;
}

.arrow {
  font-family: "Arial", sans-serif;
  line-height: 1rem;
  color: rgb(var(--secondary-color));
  margin-top: -1px;
}

/* Util */

.wrapper {
  max-width: 1650px;
  padding: 0 var(--spacing-clamp);
  /* margin: 0 auto; */
  display: block;
}

.no_break {
  white-space: nowrap;
}

.together {
  display: inline-flex;
  gap: 0.5rem;
}

/* Cursor interaction elements */
[data-cursor="hover"]  {
  position: relative;
  z-index: 10;
}

[data-cursor="title"] {
  position: relative;
  z-index: 10;
}

/* Highlight colours */

::selection {
  background-color: rgba(var(--secondary-color), 0.75);
  color: rgb(var(--primary-color));
}

::-moz-selection {
  background-color: rgba(var(--secondary-color), 0.75);
  color: rgb(var(--primary-color));
}
