.page {
  width: 100vw;
  height: 100vh;
  background-color: rgb(var(--primary-color));
  position: relative;
  overflow: hidden;
  /* padding: calc(var(--spacing-clamp)*5) var(--spacing-clamp) calc(var(--spacing-clamp)*3) var(--spacing-clamp); */
}

.toggle_container {
  position: absolute;
  top: calc(var(--spacing-clamp) * 7);
  left: var(--spacing-clamp);
  z-index: 10;

  button {
    color: rgb(var(--secondary-color));
    cursor: pointer;
  }
}

.filter_separator {
  display: inline-flex;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}
