:root {
  --spacing-clamp: clamp(0.875rem, 0.85rem + 0.5vw, 1rem);
}

body {
  margin: 0;
}
.wrapper {
  max-width: 1650px;
  padding: 0 var(--spacing-clamp);
  margin: 0 auto;
  display: block;
}


header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10;
}

.top {
  position: absolute;
  top: var(--spacing-clamp);
  left: var(--spacing-clamp);
  right: var(--spacing-clamp);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.theme-toggle-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-toggle {
  border-radius: 50%;
  padding: 10px;
}

.bottom {
  position: fixed;
  bottom: var(--spacing-clamp);
  left: var(--spacing-clamp);
  right: var(--spacing-clamp);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2 * var(--spacing-clamp));
}

.right {
  margin: 0 0 0 auto;
}

/* Navigation Links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-left: auto;
}

/* Nav */
/* header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10;
}

.top {
  position: inherit;
  top: var(--spacing-clamp);
  left: var(--spacing-clamp);
  right: var(--spacing-clamp);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.bottom {
  position: inherit;
  left: var(--spacing-clamp);
  bottom: var(--spacing-clamp);
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.right {
  position: fixed;
  right: var(--spacing-clamp);
  margin: 0;
  bottom: inherit;
  top: inherit;
}


.theme-toggle-container {
  justify-self: center; 
  position: absolute;
}
.theme-toggle {
  border-radius: 50%;
  padding: 10px;
}
.nav-links {
  justify-self: end; 
}

.theme-toggle-container {
  margin: 0 auto; 
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-left: auto;
} */


/* Flip link */

/* Dont need the below? */
.section-custom {
  display: grid;
  place-content: center;
  gap: 0.5rem; /* 2 = 0.5rem */
  /* background-color: #86efac; */
  padding-left: 2rem; /* 8 = 2rem */
  padding-right: 2rem;
  padding-top: 6rem; /* 24 = 6rem */
  padding-bottom: 6rem;
  color: #000; /* black */
  line-height: 0.9;
}


.flip-link {
  position: relative;
  cursor: pointer;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  font-size: clamp(0.7rem, 0.4rem + 1.8vw, 1.2rem); /* 18px → 24px ; /* text-4xl = 2.25rem */
  /* font-weight: 900;  */
  /* text-transform: uppercase; */
  color: #fff;
  height: fit-content;
}

.flip-link-line2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}