.themeButton {
  cursor: pointer;
  background-color: unset;
  color: rgb(var(--secondary-color));
  height: 35px;
  width: 114px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  border-radius: 20px;
  border: none;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}

.themeButton p {
  font-family: "degular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 16px;
  width: fit-content;
  margin: auto;
  transition: 
    transform 0.2s ease-out 0.1s,
    color var(--ThemeToggle-text-color-transition, 0.2s ease-out);
}

.themeButton:hover p {
  color: rgb(var(--primary-color));
  transform: translateX(-13px);
}

.buttonArrowContainer {
  display: inline-block;
  right: -20px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  transition: transform 0.5s ease 0s;
}

.buttonArrow {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 1rem;
  position: absolute;
  right: 6px;
  color: rgb(var(--primary-color));
  margin-top: -1px;
  z-index: 1001;
}

.themeButton:hover .buttonArrowContainer {
  transform: translateX(-28px);
}

.border {
  border: 1px solid rgb(var(--secondary-color));
  width: 112px; /* width - 2 */
  height: 33px; /* height - 2 */
  position: absolute;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  z-index: 1002;
  border-radius: inherit;
}

.buttonBall {
  will-change: transform;
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: rgb(var(--secondary-color));
  border-radius: 50%;
  left: 17px;
  transition: 
    height 0.3s ease 0.1s,
    width 0.3s ease 0.1s, 
    border-radius 0.4s ease-in-out 0.3s,
    left 0.2s ease-out 0.1s,
    var(--transition-background-color);
}

.themeButton:hover .buttonBall {
  height: 160px;
  width: 160px;
  left: 0px;
}